/* variabls */
:root {
  /* colors */
  --primaryColor: #bfff63;
  --primaryColor2: #0e5597;
  --black: #181818;
  --grey: #3f3f3f;
  --white: #f0f0f0;
  --fadedBlack: rgba(0, 0, 0, 0.65);
  --fadedBlackDark: rgba(0, 0, 0, 0.8);
  --fadedBlackLight: rgba(0, 0, 0, 0.5);
  --darkenImage: linear-gradient(rgba(41, 41, 41, 0.3), rgba(41, 41, 41, 0.3));
  /* animations and transitions */
  --fadeIn05s: Fade 0.5s linear forwards;
  --fadeIn1s: Fade 1s linear forwards;
  --shortTransition: 0.25s linear;
}
/* page settings */
/* some general css is in "/index.css" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  animation: var(--fadeIn1s);
  /* opacity: 0; */
}

ul {
  list-style: none;
}
dt {
  color: var(--fadedBlack);
  font-size: 0.9rem;
}
/* notificaitions */
.alert-success {
  background: var(--primaryColor);
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}
.alert-danger {
  background: rgb(182, 43, 43);
  color: var(--white);
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 1rem;
  background: var(--primaryColor2);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--fadedBlack);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fadedBlackDark);
}
.btn {
  background: var(--primaryColor);
  width: 10rem;
  border: none;
  padding: 0.7rem;
  margin: 0.4rem;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: var(--primaryColor2);
  color: var(--white);
}
/* PAGE */
.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tow-article-culumn {
  display: grid;
  grid-template-columns: auto auto;
}
.article-btn-container {
  display: flex;
}

@media screen and (max-width: 800px) {
  .tow-article-culumn {
    grid-template-columns: auto;
  }
}
.section {
  padding: 6rem;
  position: relative;
  z-index: 0;
}
/* backround photos */

#home-page {
  box-shadow: 0 0 6.5rem 2.5rem black;
  position: relative;
  z-index: 1;
}

.home-background {
  width: 100vw;
  height: 130vh;
  background: var(--darkenImage), url('./BackgroundHome.jpg');
  background-size: cover;
  background-position: center;
}

#music-page {
  background: var(--darkenImage), url('./BackgroundPage1.jpg');
  background-size: cover;
  background-position: center;
}

#tours-page {
  background: var(--darkenImage), url('./BackgroundPage2.jpg');
  background-size: cover;
  background-position: center;
}
.scroll-anchor {
  position: absolute;
  transform: translateY(-5rem);
}

#shop-page {
  background: var(--darkenImage), url('./BackgroundPage2.jpg');
  background-size: cover;
  background-position: center;
}
#checkout-page {
  background: var(--darkenImage), url('./assets/BackgroundPage1.jpg');
  background-size: cover;
  background-position: center;
}
/* parallex */
.paralex-position {
  pointer-events: all;
  position: relative;
  z-index: -1;
}

/* article */
.article {
  height: fit-content;
  background: var(--fadedBlack);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  text-align: center;
}
.mini-article {
  width: calc(100vw - 5rem);
  max-width: 40rem;
}
.big-article {
  width: calc(100vw - 5rem);
  max-width: 84rem;
}
.article-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.section-heading {
  font-size: 3.5rem;
  margin: 1rem;
}
.underline {
  background: var(--white);
  width: 6rem;
  height: 0.2rem;
  margin-bottom: 1rem;
}
.article-img-container {
  display: flex;
  justify-content: center;
}
.article-img {
  width: 35rem;
}
@media screen and (max-width: 800px) {
  .article-img {
    width: 20rem;
  }
}

/* navbar */
.nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 4rem;
  background: var(--fadedBlackDark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 1.3rem;
  animation: var(--fadeIn05s);
  opacity: 0;
}
#logo-nav-container {
  display: flex;
  align-items: center;
}
.navbar-logo {
  height: 2.8rem;
  margin: 1rem;
  margin-top: 1.4rem;
  transition: var(--shortTransition);
}
.navbar-logo-mobile {
  height: 2.3em;
  margin: 2rem;
  transition: var(--shortTransition);
}
.navLinksContainer {
  display: flex;
}
.navlinks-mobile {
  margin-top: 4rem;
  font-size: 2.4rem;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin: 0.2rem;
  transition: var(--shortTransition);
}
.nav-link:hover {
  background: var(--white);
  color: var(--black);
}

.nav-link:active {
  background: var(--primaryColor);
  color: var(--black);
}

.navLink {
  cursor: pointer;
  background: none;
}
#social-nav-container {
  font-size: 2.3rem;
  margin-right: 0.5rem;
}

/* menu/minimize button for mobile menu */
.minimize-btn-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  z-index: 1;
}
.minimize-btn {
  background: none;
  color: var(--white);
  font-size: 4rem;
  border: none;
  transition: var(--shortTransition);
}
.minimize-btn:active,
#backUpBtn:active {
  color: var(--primaryColor);
}
/* end of nav bar */

/* back to the top button */
#backUpBtnContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
}
#backUpBtnContainer button {
  width: 3rem;
  height: 3rem;
}
#backUpBtn {
  color: var(--white);
  font-size: 2rem;
  transition: 0.25s;
}

/* home Page */
#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.home-logo-container {
  position: absolute;
  animation: var(--fadeIn1s);
  opacity: 0;
  animation-delay: 1s;
}
#Home-page-logo {
  height: 25rem;
  filter: drop-shadow(0 0 3rem black);
  position: relative;
  bottom: 8rem;
  transition: var(--shortTransition);
  animation: Float 2s ease-in-out infinite;
}
#home-nav {
  background: var(--fadedBlackLight);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  font-size: 2.3rem;
  animation: var(--fadeIn1s);
  opacity: 0;
  animation-delay: 1.5s;
}
#social-links-home {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  margin: 1rem;
  animation: var(--fadeIn1s);
  opacity: 0;
  animation-delay: 1.5s;
}
/* end of home page */

/* social links */
#social {
  list-style: none;
  display: flex;
}
.social-link {
  margin: 0.3rem;
  transition: 0.2s;
}
.social-link .border {
  outline: solid 0.1rem #dd22a5;
  border: solid 0.3rem #dd22a5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spotify-link a {
  color: #1ed760;
}
#facebook-link a {
  color: #1877f2;
}
#youtube-link a {
  color: #ff0000;
}
#bandcamp-link a {
  color: #f2f2f2;
}
#instagram-link a {
  color: #dd22a5;
}

/* handle hover glowing */
.social-link:hover,
#backUpBtn:hover,
.minimize-btn:hover,
.navbar-logo:hover {
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.35));
}
/* end of socail links */

/* footer */
footer {
  position: relative;
  z-index: 1;
  width: 100%;
  scroll-snap-align: start;
}
.footer-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6.5rem 3rem black;
  background: rgb(36, 36, 36);
}
.footer-text {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}
#rights {
  margin: 0.5rem;
}
footer a {
  color: var(--white);
  text-decoration: none;
  transition: var(--shortTransition);
}
footer a:hover {
  color: var(--primaryColor);
  text-decoration: none;
}
footer .social-link {
  font-size: 2rem;
}

/* gallery */

#gallery {
  margin-bottom: 1rem;
  height: 16rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 6.5rem 3rem black;
}
.carusel {
  z-index: 0;
}
.image {
  height: 16rem;
}

/* media quarrys */
@media screen and (max-width: 800px) {
  /* buttons and links mobile */

  .social-link {
    font-size: 3rem;
    margin: 0.4rem;
  }
  #backUpBtn {
    font-size: 3rem;
  }
  /* home page mobile */
  #home-nav {
    position: relative;

    width: 20rem;
    height: 25rem;
    font-size: 2.3rem;
  }
  #Home-page-logo {
    margin-top: 15rem;
    height: 14rem;
  }
  /* navbar mobile */
  .nav-container {
    display: flex;
    justify-content: right;
    transition: 0.5s linear;
  }
  .nav {
    background: var(--fadedBlackDark);
    width: 27rem;
    height: 50rem;
    flex-direction: column;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  #logo-nav-container {
    flex-direction: column;
  }
  .navLinksContainer {
    flex-direction: column;
  }
  .nav-link {
    line-height: 130%;
  }
}

/* animations */
@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Scroll {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    transform: translateX(2rem);
  }
}
@keyframes Float {
  0% {
  }
  50% {
    transform: translateY(0.3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes FormAnimation {
  0% {
    background: var(--primaryColor2);
  }
  20% {
    background: var(--white);
  }
  100% {
    background: var(--primaryColor2);
  }
}

/* SHOP */
/* here! */
.shop-page {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1rem;
  width: fit-content;
}
.product-img {
  height: 20rem;
  margin: 1rem;
}

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* selected product page */
.selected-product-container {
  pointer-events: none;
  z-index: 1;
  position: fixed;
  background: var(--fadedBlack);
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-product {
  pointer-events: all;
  z-index: 10;
  padding: 0.1rem;
  background: var(--white);
  max-width: 50rem;
  text-align: center;
  color: var(--black);
}

.selected-product h2 {
  margin: -2.5rem 0 1rem 0;
}

.selected-product-img {
  width: 24rem;
}

.selected-product p {
  margin: 0.2rem 3rem;
}
.return-to-shop-btn-container {
  text-align: right;
  margin: 0.5rem;
}
.product-xbtn {
  font-size: 2.3rem;
  color: var(--primaryColor2);
  border: none;
  transition: 0.3s;
}
.product-xbtn:hover {
  color: var(--primaryColor);
}
.chose-specific {
  display: flex;
  justify-content: center;
}
.product-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primaryColor2);
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  color: var(--white);
  transition: 0.5s;
}
@media screen and (max-width: 800px) {
  .product-form {
    flex-direction: column;
  }
  .return-to-shop-btn-container {
    text-align: left;
  }
}
.form-animate {
  animation: FormAnimation 0.5s;
}
.options {
  display: flex;
  justify-content: space-between;
}
.option {
  width: 7rem;
  margin: 0.2rem;
}
.option input {
  text-align: center;
  width: 3rem;
  background: var(--primaryColor);
}
.option select {
  width: 7rem;
  background: var(--primaryColor);
}

/* Shop mobile  */
@media screen and (max-width: 1200px) {
  .products-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 800px) {
  .products-container {
    display: grid;
    grid-template-columns: auto;
  }
  .selected-product {
    width: calc(100vw - 5rem);
    max-width: 50rem;
  }
}

/* USER BOX */
.user-box-home {
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  font-size: 1rem;
  background: var(--fadedBlackLight);
  padding: 0.5rem 0.4rem;
  z-index: 1;
}
.user-box-page {
  font-size: 0.9rem;
}
.login-link,
.logout-link {
  cursor: pointer;
  background: var(--fadedBlack);
}
.profile-pic {
  margin-left: 1rem;
  display: flex;
  border-radius: 50%;
  width: 3.5rem;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  z-index: 1;
}
.cart-icon {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.user-profile-links {
  display: flex;
}

.user-box-page-mobile {
  font-size: 1.5rem;
}

/* CART */
.epmty-cart,
.loading-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-container {
  position: absolute;
  right: 0rem;
  top: 4rem;
  width: 35rem;
  height: 70vh;
  background: var(--fadedBlack);
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--white);
  color: var(--black);
  padding: 1rem;
  margin: 1rem;
}
.cart-product-inner-container {
  display: flex;
  align-items: center;
}

.cart-product-img {
  border-radius: 50%;
  height: 7rem;
  margin-right: 1rem;
}
.cart-product-quantity {
  display: flex;
  align-items: center;
}
.cart-product-quantity p {
  color: var(--white);
  background: var(--primaryColor2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}
.btn-cart {
  font-size: 0.9rem;
  height: 2.5rem;
  width: 2.5rem;
}
.delete-product-container {
  position: absolute;
  transform: translate(-1.7rem, -3.8rem);
}
.delete-product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
}
/* checkout page
 */

.checkout-page {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.form-container {
  padding: 2rem 3.5rem;
  margin: 1rem;
  text-align: center;
  background: var(--primaryColor2);
}
.checkout-form {
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
}
.single-input-checkout {
  margin: 0.2rem;
}
.checkout-form label {
  display: block;
}
.single-input-checkout input,
.input {
  padding: 0.5rem;
  width: 18rem;
  background: var(--primaryColor);
  border: none;
}
.checkout-btn-container {
  margin-top: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.paypal {
  margin-top: 1rem;
  background: var(--white);
  padding: 2rem 5rem 0rem 5rem;
  color: var(--white);
  font-size: 10rem;
}

.cheackout-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}
.chackout-nav {
  color: var(--white);
  font-size: 1.2rem;
  background: var(--fadedBlack);
}
@media screen and (max-width: 800px) {
  .cart-container {
    width: 27rem;
    height: 29rem;
    z-index: 1;
    font-size: 0.7rem;
    margin-top: 11rem;
  }
  .cart-container-home-mobile {
    position: absolute;
    font-size: 1rem;
    right: 0;
    top: 4rem;
    width: 27rem;
    max-height: 50rem;
    background: var(--fadedBlack);
    overflow-y: scroll;
  }
  .checkout-form {
    grid-template-columns: auto;
  }
  .paypal {
    padding: 1rem 3rem 0 3rem;
  }
}
